<% form_for [resource] do |f| -%>
  <%= f.error_messages %>
  <ul class='fields'>
    <li><%= f.label :title %><%= f.text_field :title %></li>
    <li><%= f.label :excerpt %><%= f.text_field :excerpt %></li>
    <li><%= f.label :description %><%= f.text_area :description %></li>
    <li><%= f.label :start_time %><%= f.datetime_select :start_time %></li>
    <li><%= f.label :end_time %><%= f.datetime_select :end_time %></li>
    <li>location thingies</li>
  </ul>
  <ul class="buttons">
    <li><input type="submit" value="Create Event!" />
  </ul>
<% end -%>
