<h1>Event: <%= h @event.title %></h1>
<ul>
  <li>Excerpt: <%= h @event.excerpt %></li>
  <li>Descripton: <%= h @event.description %></li>
  <li>Start time: <%= h @event.start_time %></li>
  <li>End time: <%= h @event.end_time %></li>
  <li>Location thingies</li>
</ul>
