<h1>Event: <%= h @event.title %></h1>
<% if @event.owner == current_user %>
  <%#= link_to('Edit this event', edit_event_path(@event)) %>
<% else %>
  <%= render(:partial => 'sign_up', :locals => { :event => @event }) %>
<% end %>
  
<ul>
  <li>Excerpt: <%= h @event.excerpt %></li>
  <li>Descripton: <%= h @event.description %></li>
  <li>Start time: <%= h @event.start_time %></li>
  <li>End time: <%= h @event.end_time %></li>
  <li>Address: <%= h @event.address %></li>
  <li>Lat: <%= @event.lat %>
  <li>Lng: <%= @event.lng %>
  <li>Location description: <%= h @event.location_description %></li>
  <li>Event organiser: <%= link_to(h(@event.owner.name_for_view), @event.owner) %></li>
</ul>

<h2>People attending this flock (<%= @sure_attendees.size %>):</h2>
<div class='attendees sure-attending'>
  <%= render(:partial => '/users/avatar_link_user', :collection => @sure_attendees) %>
</div>
<h2>People who may attend this flock (<%= @maybe_attendees.size %>):</h2>
<div class='attendees maybe-attending'>
  <%= render(:partial => '/users/avatar_link_user', :collection => @maybe_attendees) %>
</div>
