<h1>Event: <%= h @event.title %></h1>
<ul>
  <li>Excerpt: <%= h @event.excerpt %></li>
  <li>Descripton: <%= h @event.description %></li>
  <li>Start time: <%= h @event.start_time %></li>
  <li>End time: <%= h @event.end_time %></li>
  <li>Address: <%= h @event.address %></li>
  <li>Lat: <%= @event.lat %>
  <li>Lng: <%= @event.lng %>
  <li>Location description: <%= h @event.location_description %></li>
</ul>
